<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <img src="<%= person.photo %>">
  </p>

  <p>
    <strong>Species:</strong>
    <%= person.species %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= person.personality %>
  </p>

</div>
