<div id="<%= dom_id person %>">
  <p>
    <strong>Nom:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Illustration de MidJourney:</strong><br>
    <img src="<%= person.photo %>">
  </p>

  <p>
    <strong>Espèce:</strong>
    <%= person.species %>
  </p>

  <p>
    <strong>Personalité:</strong>
    <%= person.personality %>
  </p>

</div>
