<p style="color: green"><%= notice %></p>

<h1>Bienvenue sur notre site Animal Crossing World</h1>
<h3>Nous nous sommes inspirées du jeu Animal Crossing, et nous avons créé de nouveaux habitants en demandant à MidJourney de nous générer des images de ces derniers à partir de leurs caractéristiques.</h3>

<div class="container-fluid">
  <div class="row">
    
    

      
      <div id="people" class="col-12">
        <% @people.each do |person| %>
        <div class='bloc' class="col-4">
          <p class="nom" style="display: flex; justify-content: center; font-size: 24px;"><%= person.name%></p>
            <img style="max-width: 29vw" src="<%= person.photo %>">
          <p><button type="button" class="btn btn-primary"> <%= link_to "Voir cet habitant", person %></button></p>
        </div>
        <% end %>
      </div>
      

    
    
  </div>
</div>


<button type="button" class=" btnCreate btn btn-success"><%= link_to "Créer un nouvel habitant", new_person_path %> </button>
