<p style="color: green"><%= notice %></p>
<div class="formmulaire">
<%= render @person %>
<div>
<button type="button" class="btn btn-primary"> <%= link_to "Modifier cet habitant", edit_person_path(@person) %> </button>
<button type="button" class="btn btn-primary"><%= link_to "Retour à la page principale", people_path %></button>

<%= button_to "Supprimer cet habitant", @person, method: :delete class="btn btn-danger" %>
</div>
</div>