<p style="color: green"><%= notice %></p>

<%= render @person %>

<div>
<button type="button" class="btn btn-primary" style="color:white"> <%= link_to "Edit this person", edit_person_path(@person) %> |</button>
<button type="button" class="btn btn-primary" style="color:white"><%= link_to "Back to people", people_path %></button>

  <button type="button" class="btn btn-primary" style="color:white"> <%= link_to "Destroy this person", @person, method: :delete %></button>
</div>
