<!DOCTYPE html>
<html>
  <head>
    <title>AcWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    </head>
<header>
<nav>
    <div class="navig">
      <a  class="lienlogo"href="https://acworld.osc-fr1.scalingo.io/">
        <img class="logo" src="https://cdn.discordapp.com/attachments/1023869275796152330/1081259467536072805/animal_crossing.png" alt="Logo">
      </a>
    </div>
    <div class="trait"></div>
      </nav>
</header>
  <body>
    <%= yield %>
  </body>
</html>
